<div class="coupon-card" *ngIf="coupon$ | async as coupon">
  <a routerLink="/coupons">⬅</a>
  <h1>{{ coupon.titre | uppercase }}</h1>
  <p><b>Commerce:</b> {{ coupon.commerce.nom }}</p>
  <p><b>Adresse:</b> {{ coupon.adresse }}, {{ coupon.ville }}, {{ coupon.code_postal }}</p>
  <p><b>Prix:</b> {{ coupon.prix }}€</p>
  <p><b>Conditions:</b> {{ coupon.conditions }}</p>
  <p><b>Date de création:</b> {{ coupon.date_creation | date: 'le d MMMM yyyy' }}</p>
  <p><b>Fin de validité:</b> {{ coupon.fin_validite | date: 'le d MMMM yyyy' }}</p>
  <p><b>Ce bon soutient l'association:</b> {{ coupon.association.nom }}</p>
  <button class="button">J'achète ce coupon !</button>
</div>
