<div class="card">
  <div class="center-content">
    <h1>Votre Panier</h1>
  </div>

  <div *ngIf="panier.length > 0; else panierVide">
    <ul>
      <li *ngFor="let coupon of panier">
        <div class="coupon-info-suppr">
          <span>{{ coupon.titre }} - {{ coupon.prix }}€</span>
          <button (click)="supprimerDuPanier(coupon)" class="remove-button">❌ Supprimer</button>
        </div>
      </li>
    </ul>
    <p>Total : {{ total }}€</p>
    <button [disabled]="!panier.length" (click)="acheterCoupon()">Acheter</button>
  </div>

  <ng-template #panierVide>
    <div class="center-content">
      <h1>Votre panier est vide</h1>
      <p>Ajoutez des coupons pour profiter des réductions !</p>
      <button routerLink="/coupons">Découvrir des coupons</button>
    </div>
  </ng-template>
</div>
