/* Style pour l'image de fond */
.background-image {
  background-image: url('/assets/skateboard-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

/* Container du formulaire */
.connexion-container {
  max-width: 400px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.connexion-container h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.connexion-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.connexion-container form div {
  margin-bottom: 20px;
}

.connexion-container form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.connexion-container form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.connexion-container form input:focus {
  border-color: #514fba;
  box-shadow: 0 0 5px rgba(64, 51, 121, 0.5);
  outline: none;
}

.connexion-container form button {
  padding: 12px 20px;
  background-color: #514fba;
  color: white;
  box-shadow: 0 4px 8px rgba(64, 51, 121, 0.3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.connexion-container form button:hover {
  background-color: #514fba;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(64, 51, 121, 0.4);
}

.error-message {
  color: red;
  margin-top: 15px;
  font-size: 14px;
}

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.sign-in-btn {
  padding: 12px 20px;
  background-color: #514fba;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 8px rgba(64, 51, 121, 0.3)
}

.sign-in-btn:hover {
  background-color: #514fba;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(64, 51, 121, 0.4);
}

.sign-in-btn:active {
  transform: translateY(2px);
}

